extends layout

block content
  h1 VM Scrappy Control Panel
  input(type="button", value="Launch Chrome", ng-click="launch()")
  br
  input(type="button", value="Login to Google", ng-click="loginToGoogle()")
  br
  div
    input(type="button", value="Start A Hangout", ng-click="startAHangout()")
    input(type="entry", placeholder="Customer+Expert {technology}", ng-model="hangoutName")
    input(type="entry", placeholder="Invite emails, comma separated", ng-model="invites")
  div
    input(type="button", value="Take Over", ng-click="takeover()")
    input(type="entry", placeholder="Paste the hangout link here", ng-model="takeoverThisUrl")
  div
    input(type="button", value="Get Current URL", ng-click="getCurrentUrl()")
    a(ng-href="{{currentUrl}}"){{currentUrl}}
  input(type="button", value="Start Recording", ng-click="startRecording()")
  br
  input(type="button", value="Stop Recording", ng-click="stopRecording()")
  br
  div
    input(type="button", value="Get Recording Link", ng-click="getRecordingUrl()")
    a(ng-href="{{recordingUrl}}") {{recordingUrl}}
  input(type="button", value="Close Browser", ng-click="closeBrowser()")
  p {{lastStatus}}
