doctype html
html
  head
    title VM Control Panel
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='robopair/style.css')
    script(src="robopair/bower_components/angularjs/angular.min.js")
    script(src="robopair/client.js")
  body
    div(id="main", ng-app="Robopair", ng-controller="MainController")
      block content