body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div#main {
	max-width: 500px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	padding:10px;
}

div#main input[type="button"] {
	width:150px;
}

a {
  color: #00B7FF;
}

ul#status {
	color: red;
}

li.status_green {
	color: limegreen;
}


ul.tabs {
	float: left;
}

ul.tabs li {
	float: left;
	background-color: rgb(250,250,250);
	padding: 2px;
	margin: 2px;
	color: black;
	list-style: none;
}


ul.tabs li:hover, ul.tabs li:hover a {
	background-color: rgb(6,179,6);
	color:white;
}

.start_ctrls {
	border: 1px solid black;
	padding: 2px;
}

input[type="entry"] {
	width: 98%;
	margin: 2px;
}

input[type="button"] {
	width: 98%;
	margin: 2px;
}