body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div#main {
	max-width: 500px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	padding:10px;
}

div#main input[type="button"] {
	width:150px;
}

a {
  color: #00B7FF;
}